<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="UsersContext" providerName="System.Data.SqlClient" connectionString="Data Source=DPHANNIGAN-WIN1\FRENCHDEV;Initial Catalog=Users2;Integrated Security=SSPI;MultipleActiveResultSets=True"/>-->
  <add name="UsersContext" providerName="System.Data.SqlClient" connectionString="Data Source=FRANCE01\MSSQLLocalDB;Initial Catalog=Users2;Integrated Security=True;;MultipleActiveResultSets=True"/>
</connectionStrings>
